---
import Layout from '../layouts/Layout.astro';
import Link_button from '../components/Link_button.astro';


import { getCollection } from 'astro:content';
var blog = await  getCollection("blog");

---

<Layout title="CEFAI - Blog">
    <section class="h-screen grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-7 p-10">
      { blog.map(blogEntrie=>(
        <a href={"posts/"+blogEntrie.slug}>
          <div class="max-w-sm rounded overflow-hidden bg-gray-800 hover:shadow-gray-400 shadow-sm">
            <img class="w-full" src={blogEntrie.data.font} alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">{blogEntrie.data.title}</div>
              <p class="text-gray-700 text-base">
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
              {blogEntrie.data.tags.map(tag=>(
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{tag}</span>
              ))} 
            </div>
            <div class="px-6 py-4">@{blogEntrie.data.autor}</div>
          </div>
        </a>
      ))}
    </section>
</Layout>