---

import Layout from '../layouts/Layout.astro';
import Link_button from '../components/Link_button.astro';

---
<Layout title="CEFAI">
    <section class="min-h-screen px-6 py-4">
        <div class="h-screen content-center grid grid-cols-1 sm:grid-cols-2">
            
            <div class="w-auto">
                
            </div>
            <div class="w-auto content-center">
                <h1 class="text-4xl pb-6">Fundacion</h1>
                <p>El Centro de Estudiantes se creó en el año 2013. El 19 de septiembre del mismo año , el Consejo Directivo de la Facultad de Informática reconoce y ratifica el actual Estatuto del Centro.</p>
                <p>Desde entonces el Centro ha tenido varias conducciones que fueron realizando diferentes actividades, como talleres, charlas, capacitaciones, participaciones en eventos institucionales. </p>
                <p>En el  año 2022 la Facultad inaugura su edificio, siendo esta la oportunidad perfecta para ampliar aún más las actividades del Centro, como lo es el Barcito.</p>
                <div class="grid justify-center py-6">
                    <Link_button text="Estatuto" icono="fi fi-rr-file-pdf" href="/" color="bg-red-800 text-white-200"></Link_button>

                </div>
            </div>
        </div>
        <div class="grid h-screen grid-cols-1 sm:grid-cols-2 py-6 content-center">
            <div class="w-auto">
                <h1 class="text-4xl pb-6">Nuestra misión</h1>
                <p>Tenemos como objetivo hacer que tu paso por la Facultad sea agradable, facilitarte herramientas para estudiar y ayudarte a vincularte con otros estudiantes y docentes.</p>
            </div>
            <div class="w-auto">

            </div>
        </div>
        <div class="h-screen grid grid-cols-1 content-center">
            <h1 class="text-4xl text-center py-6">Conducción 2023</h1>
            <ul class="text-center">
                <li><b>Presidente:</b> Ojeda Franco (TUDW)</li>
                <li><b>Vice Presidente:</b> Albornoz Agustin (LCC)</li>
                <li><b>Secretario General:</b> Blanco Nicolas</li>
                <li><b>Secretario de Actas:</b> Carus Erick</li>
                <li><b>Tesorero:</b> Scantamburlo Santiago</li>
                <li><b>Primer vocal:</b> Fabris Franco</li>
                <li><b>Segundo Vocal:</b> Barbieri Tania</li>
                <li><b>Tercer Vocal:</b> Olmos Gonzalo</li>
                <li><b>Primer Vocal Sup:</b> Robledo Alejandro</li>
                <li><b>Segundo Vocal Sup:</b> Fuentes Santino</li>
            </ul>
        </div>
    </section>
</Layout>