---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// 1. Genera una nueva ruta para cada entrada de colección
export async function getStaticPaths() {
  const blogEntries = await getCollection('proyectos');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. Para tu plantilla, puedes obtener la entrada directamente de la prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Layout title={entry.data.title}>
  <section class="max-h-auto min-h-screen px-6 py-4">
    <h1>{entry.data.title}</h1>
    <Content />
  </section>
</Layout>

<style>
  h1{
    font-size: 6em;
  }

  ul{
    list-style: circle;
  }
</style>